body {
    padding: 200px;
    background-image: url(./pngtree-penguin-penguin-cartoon-cartoon-cartoon-penguin-png-image_485345.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.color_div {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(159, 102, 159);
    background-color: rgb(170, 117, 170);
    border-radius: 50%;
    position: absolute;
    left: 760px;
    top: 220px;
}

#start_btn {
    width: 70px;
    height: 70px;
    /* margin: 50px 0px 100px 700px; */
    background-color: rgb(183, 128, 45);
    border: 1px solid rgb(167, 200, 218);
    color: rgb(110, 77, 14);
    font-weight: bolder;
    border-radius: 50%;
    position: absolute;
    left: 650px;
    top: 80px;
}

#start_btn:hover {
    background-color: rgb(218, 167, 210);
}

#stop_btn {
    width: 55px;
    height: 55px;
    /* margin: 50px 0px 100px 700px; */
    background-color: rgb(218, 167, 210);
    border: 1px solid rgb(167, 200, 218);
    color: rgb(139, 33, 71);
    font-weight: bolder;
    border-radius: 50%;
    position: absolute;
    top: 407px;
    left: 733px;
}

#stop_btn:hover {
    background-color: rgb(193, 48, 29);
}